<div flex layout="row" ng-controller="SampleCtrl as sampleCtrl" ng-cloak>
    <div class="md-padding" flex layout="row">

        <div class="md-whiteframe-4dp" layout-padding flex="25" layout="column">
            <div>
                <md-toolbar ng-show="!showSearch">
                    <div class="md-toolbar-tools" layout="row">
                        <legend layout-align="left" class="md-title" flex="60">Results</legend>
                        <div layout="row" layout-align="right" flex>
                            <md-button ng-click="showFilter($event)" flex aria-label="Filter samples">
                                <ng-md-icon icon="filter_list"></ng-md-icon>
                            </md-button>
                            <md-button ng-click="clearFilter($event)" flex aria-label="Clear Filter">
                                <ng-md-icon icon="backspace"></ng-md-icon>
                            </md-button>
                        </div>
                    </div>
                </md-toolbar>
            </div>
            <div flex layout-padding>
                <md-content flex style="max-height: 500px">
                    <treecontrol class="tree-light" tree-model="treedata" on-selection="showSelected(node)">

                        <span ng-if="node.type == 'specie'">
                            <i>{{node.parent}} {{node.id}}</i>
                        </span>
                        <span ng-if="node.type != 'specie'">
                            {{node.id}}
                        </span>
                    </treecontrol>
                </md-content>
            </div>
        </div>

        <div class="md-whiteframe-4dp" flex="75" layout="column" layout-padding>

            <table flex ng-table="sampleCtrl.tableSample" template-pagination="custom/pager" style="table-layout:fixed;width:100%" class="table table-striped">
                <colgroup>
                    <col width="10%" />
                    <col width="30%" />
                    <col width="15%" />
                    <col width="15%" />
                    <col width="15%" />
                    <col width="15%" />
                </colgroup>

                <tr flex layout-align="center" ng-repeat="specie in $data" class="md-body-1 md-link" >
                    <td flex="10" sortable="'specieinfo.family'" data-title="'Family'">
                        <span class="ng-binding ng-scope" style="text-transform: none;">
                                {{specie.specieinfo.family}}
                            </span>
                    </td>
                    <td flex="30" sortable="['specieinfo.genus','specieinfo.specie']" data-title="'Species'" layout-wrap>
                        <a href="#" class="md-button" ng-click="showSample(specie.species);" style="text-transform: none;display: inline-block; text-overflow:ellipsis; overflow:hidden;width:100%">
                            <span class="ng-binding ng-scope" style="text-transform: none;">
                                 <i> {{specie.specieinfo.genus}} {{specie.specieinfo.specie}}</i> {{specie.specieinfo.authority}} 
                                 </span>
                            <span class="md-visually-hidden ng-scope" ng-if="isSelected()">
                                current page
                            </span>
                        </a>
                    </td>
                    <td flex="15" sortable="'ethnoinfo.commonname'" data-title="'Vernacular name'">
                        {{specie.ethnoinfo.commonname}}
                    </td>
                    <td flex="15" sortable="'usecategory.who'" data-title="'WHO-ICD 10'">
                        {{specie.usecategory.who}}
                    </td>
                    <td flex="15" sortable="'usecategory.traditional'" data-title="'Traditional use'">
                        {{specie.usecategory.traditional}}
                    </td>
                    <td layout="column" flex="15" sortable="'passport.biome'" data-title="'Biome'" ng-repeat="biome in specie.passport.biome">
                        {{biome}}
                    </td>
                </tr>

            </table>
        </div>
        <script type="text/ng-template" id="custom/pager">
            <div class="bottom">
                <div ng-if="params.settings().counts.length" id="allocateCargoTable_length" class="dataTables_length">
                    <label>Show

                        <select ng-param-directive ng-model="pageCount" ng-options="count for count in params.settings().counts" ng-change="pageCounter(pageCount)">
                        </select>
                        Rows
                    </label>
                </div>
                <div class="dataTables_paginate paging_bs_normal">
                    <div layout="row" layout-align="space-around center">
                        <div ng-repeat="page in pages" ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                        ng-show="page.type == 'prev' || page.type == 'next'" flex ng-switch="page.type">


                            <span style="float:left" ng-switch-when="prev"><md-button  flex ng-click="params.page(page.number)" href=""><ng-md-icon icon="arrow_back"></ng-md-icon></md-button></span>

                            <span style="float:right" ng-switch-when="next"><md-button flex ng-click="params.page(page.number)" href=""><ng-md-icon icon="arrow_forward"></ng-md-icon></md-button></span>

                        </div>
                    </div>
                </div>
            </div>
        </script>
    </div>
</div>


<!--<div ng-repeat="sample in selectedSamples">
                <div class="md-whiteframe-4dp" layout-padding>
                    <div layout="row" flex>
                        <div flex="35">
                            <label>Species:</label>
                        </div>
                        <div flex="65"><i>{{sample.specieinfo.genus}}
                            {{sample.specieinfo.specie}}</i> {{sample.specieinfo.authority}}</div>
                    </div>
                    <div layout="row" flex>
                        <div flex="35">
                            <label>Popular name:</label>
                        </div>
                        <div flex="65">{{sample.ethnoinfo.commonname}}</div>
                    </div>
                    <div layout="row" flex>
                        <div flex="35">
                            <label>Biomes:</label>
                        </div>
                        <div flex="65">{{sample.passport.biome}}</div>
                    </div>
                    <div layout="row" flex>
                        <div flex="35">
                            <label>Uses</label>
                        </div>
                    </div>
                    <div layout="row" flex>
                        <div flex="35">
                            <label>ICD-10 categories:</label>
                        </div>
                        <div flex="65">{{sample.usecategory.who}}</div>
                    </div>
                    <div layout="row" flex>
                        <div flex="35">
                            <label>Traditional uses:</label>
                        </div>
                        <div flex="65">{{sample.usecategory.traditional}}</div>
                    </div>
                    <div layout="row" flex>
                        <div flex="35">
                            <label>Plant parts used:</label>
                        </div>
                        <div flex="65">{{sample.partused}}</div>
                    </div>
                    <div layout="row" flex>
                        <div flex="35">
                            <label>Modes of application:</label>
                        </div>
                        <div flex="65">{{sample.formofuse}}</div>
                    </div>
                    <div layout="row" flex>
                        <div flex="35">
                            <label>References:</label>
                        </div>
                        <div flex="65">{{sample.reference.paper}} {{sample.reference.collector}} {{sample.reference.origin}}</div>
                    </div>
                </div>            </div>
                        <div flex="65">{{sample.formofuse}}</div>
                    </div>
                    <div layout="row" flex>
                        <div flex="35">
                            <label>References:</label>
                        </div>
                        <div flex="65">{{sample.reference.paper}} {{sample.reference.collector}} {{sample.reference.origin}}</div>
                    </div>
                </div>-->