<div flex layout="row" ng-controller="SampleCtrl as sampleCtrl" ng-cloak>
    <div class="md-padding" flex layout="row">

        <div class="md-whiteframe-4dp" layout-padding flex="25" layout="column">
            <md-content>
                <div>
                    <md-toolbar ng-show="!showSearch">
                        <div class="md-toolbar-tools" layout="row">
                            <legend layout-align="left" class="md-title" flex="60">Results</legend>
                            <div layout="row" layout-align="right" flex>
                                <md-button ng-click="showFilter($event)" flex aria-label="Filter samples">
                                    <ng-md-icon icon="filter_list"></ng-md-icon>
                                </md-button>
                                <md-button ng-click="clearFilter($event)" flex aria-label="Clear Filter">
                                    <ng-md-icon icon="backspace"></ng-md-icon>
                                </md-button>
                            </div>
                        </div>
                    </md-toolbar>
                </div>
                <md-content layout-padding>
                    <treecontrol class="tree-light" tree-model="treedata" on-selection="showSelected(node)">
                        <span ng-if="node.type == 'specie'">
                            <i>{{node.parent}} {{node.id}}</i>
                        </span>
                        <span ng-if="node.type != 'specie'">
                            {{node.id}}
                        </span>
                        <!--{{node.id}} {{node.parent}} {{node.type}}-->
                    </treecontrol>
                </md-content>
            </md-content>
        </div>

        <!--<div class="md-whiteframe-4dp" class-sm="" flex="75" layout-padding layout="column">
            <legend class="md-title">Sample</legend>
            <div flex>
                <table flex ng-table="sampleCtrl.tableSample" template-pagination="custom/pager" style="table-layout:fixed;width:100%" class="table-bordered table-condensed">

                    <tr ng-repeat="specie in $data" class="md-body-1 md-link" style="line-height: 10px">
                        <td data-title="'Family'">
                            <span flex="10" class="ng-binding ng-scope" style="text-transform: none;">
                                {{specie.specieinfo.family}}
                            </span>
                        </td>
                        <td data-title="'Species'" layout-wrap>
                            <a href="#" class="md-button" ng-click="showSample(specie.species);" style="text-transform: none;display: inline-block; text-overflow:ellipsis; overflow:hidden;width:100%">
                                <span flex="30" class="ng-binding ng-scope" style="text-transform: none;">
                                 <i> {{specie.specieinfo.genus}} {{specie.specieinfo.specie}}</i> {{specie.specieinfo.authority}} 
                                 </span>
                                <span class="md-visually-hidden ng-scope" ng-if="isSelected()">
                                current page
                            </span>
                            </a>
                        </td>
                        <td data-title="'Vernacular name'">
                            <span flex="15" class="ng-binding ng-scope" style="text-transform: none;">
                                {{specie.usecategoryethnoinfo.commonname}}
                            </span>
                        </td>
                        <td data-title="'WHO-ICD 10'">
                            <span flex="15" class="ng-binding ng-scope" style="text-transform: none;">
                                {{specie.usecategory.who}}
                            </span>
                        </td>
                        <td data-title="'Traditional use'">
                            <span flex="15" class="ng-binding ng-scope" style="text-transform: none;">
                                {{specie.usecategory.traditional}}
                            </span>
                        </td>
                        <td data-title="'Biome'" >
                            <td ng-repeat="biome in specie.passport.biome">
                                <span flex="15" class="ng-binding ng-scope" style="text-transform:none;">                                
                                {{biome}}  
                            </span>
                            </td>
                        </td>
                    </tr>

                </table>
            </div>-->
        <div class="md-whiteframe-4dp" flex="75" layout="column" layout-padding>

            <table flex ng-table="sampleCtrl.tableSample" template-pagination="custom/pager" style="table-layout:fixed;width:100%" class="table table-bordered table-condensed">
                <colgroup>
                    <col width="10%" />
                    <col width="30%" />
                    <col width="15%" />
                    <col width="15%" />
                    <col width="15%" />
                    <col width="15%" />
                </colgroup>

                <tr flex ng-repeat="specie in $data" class="md-body-1 md-link" style="line-height: 10px">
                    <td flex="10" data-title="'Family'">
                        <span class="ng-binding ng-scope" style="text-transform: none;">
                                {{specie.specieinfo.family}}
                            </span>
                    </td>
                    <td flex="30" data-title="'Species'" layout-wrap>
                        <a href="#" class="md-button" ng-click="showSample(specie.species);" style="text-transform: none;display: inline-block; text-overflow:ellipsis; overflow:hidden;width:100%">
                            <span class="ng-binding ng-scope" style="text-transform: none;">
                                 <i> {{specie.specieinfo.genus}} {{specie.specieinfo.specie}}</i> {{specie.specieinfo.authority}} 
                                 </span>
                            <span class="md-visually-hidden ng-scope" ng-if="isSelected()">
                                current page
                            </span>
                        </a>
                    </td>
                    <td flex="15" data-title="'Vernacular name'">
                        {{specie.usecategoryethnoinfo.commonname}}
                    </td>
                    <td flex="15" data-title="'WHO-ICD 10'">
                        {{specie.usecategory.who}}
                    </td>
                    <td flex="15" data-title="'Traditional use'">
                        {{specie.usecategory.traditional}}
                    </td>
                    <td layout="column" layout-align="center center" flex="15" data-title="'Biome'" layout-wrap ng-repeat="biome in specie.passport.biome">
                        {{biome}}
                    </td>
                </tr>

            </table>
        </div>
        <script type="text/ng-template" id="custom/pager">
            <div class="bottom">
                <div ng-if="params.settings().counts.length" id="allocateCargoTable_length" class="dataTables_length">
                    <label>Show

                        <select ng-param-directive ng-model="pageCount" ng-options="count for count in params.settings().counts" ng-change="pageCounter(pageCount)">
                        </select>
                        Rows
                    </label>
                </div>
                <div class="dataTables_paginate paging_bs_normal">
                    <div layout="row" layout-align="space-around center">
                        <div ng-repeat="page in pages" ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                        ng-show="page.type == 'prev' || page.type == 'next'" flex ng-switch="page.type">


                            <span style="float:left" ng-switch-when="prev"><md-button  flex ng-click="params.page(page.number)" href=""><ng-md-icon icon="arrow_back"></ng-md-icon></md-button></span>

                            <span style="float:right" ng-switch-when="next"><md-button flex ng-click="params.page(page.number)" href=""><ng-md-icon icon="arrow_forward"></ng-md-icon></md-button></span>

                        </div>
                    </div>
                </div>
            </div>
            </script>


        <!--<div ng-repeat="sample in selectedSamples">
                <div class="md-whiteframe-4dp" layout-padding>
                    <div layout="row" flex>
                        <div flex="35">
                            <label>Species:</label>
                        </div>
                        <div flex="65"><i>{{sample.specieinfo.genus}}
                            {{sample.specieinfo.specie}}</i> {{sample.specieinfo.authority}}</div>
                    </div>
                    <div layout="row" flex>
                        <div flex="35">
                            <label>Popular name:</label>
                        </div>
                        <div flex="65">{{sample.ethnoinfo.commonname}}</div>
                    </div>
                    <div layout="row" flex>
                        <div flex="35">
                            <label>Biomes:</label>
                        </div>
                        <div flex="65">{{sample.passport.biome}}</div>
                    </div>
                    <div layout="row" flex>
                        <div flex="35">
                            <label>Uses</label>
                        </div>
                    </div>
                    <div layout="row" flex>
                        <div flex="35">
                            <label>ICD-10 categories:</label>
                        </div>
                        <div flex="65">{{sample.usecategory.who}}</div>
                    </div>
                    <div layout="row" flex>
                        <div flex="35">
                            <label>Traditional uses:</label>
                        </div>
                        <div flex="65">{{sample.usecategory.traditional}}</div>
                    </div>
                    <div layout="row" flex>
                        <div flex="35">
                            <label>Plant parts used:</label>
                        </div>
                        <div flex="65">{{sample.partused}}</div>
                    </div>
                    <div layout="row" flex>
                        <div flex="35">
                            <label>Modes of application:</label>
                        </div>
                        <div flex="65">{{sample.formofuse}}</div>
                    </div>
                    <div layout="row" flex>
                        <div flex="35">
                            <label>References:</label>
                        </div>
                        <div flex="65">{{sample.reference.paper}} {{sample.reference.collector}} {{sample.reference.origin}}</div>
                    </div>
                </div>-->
    </div>
</div>
</div>
</div>

<!-- <div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <p>Samples</p>
  <section>
    <button ng-click="open()" class="btn btn-primary pull-right"><i class="icon-white icon-plus"></i> Add new Sample</button>
  </section>  
  <table ng-table="tableParams" show-filter="true" class="table">
<!--    <thead>
    <tr> <td column-span=4/> <td column-span=3 title="Reference"/> </tr>
    </thead>
    <tbody>    
    <tr ng-repeat="sample in $data">
        <td data-title="'Family'" filter="{ 'specieinfo.family': 'text' }" sortable="'specieinfo.family'">
            {{sample.specieinfo.family}}
        </td>
        <td data-title="'Genus'" filter="{ 'specieinfo.genus': 'text' }" sortable="'specieinfo.genus'">
            <i>{{sample.specieinfo.genus}}</i>
        </td>
        <td data-title="'Specie'" filter="{ 'specieinfo.specie': 'text' }" sortable="'specieinfo.specie'">
            <i>{{sample.specieinfo.specie}}</i> {{sample.specieinfo.authority}}
        </td>
        <td data-title="'Synonym'" filter="{ 'specieinfo.synonim': 'text' }" sortable="'specieinfo.synonim'">
            {{sample.specieinfo.synonim}}
        </td>
        
            <td data-title="'Paper'" filter="{'reference.paper':'text'}" sortable="'reference.paper'">
                {{sample.reference.paper}}
            </td>
            <td data-title="'Collector'" filter="{'reference.collector':'text'}" sortable="'reference.collector'">
                {{sample.reference.collector}}
            </td>
            <td data-title="'Origin'" filter="{'reference.origin':'text'}" sortable="'reference.origin'">
                {{sample.reference.origin}}
            </td>
        
        <td data-title="'Common  Name'" filter="{ 'ethnoinfo.commonname': 'text' }" sortable="'ethnoinfo.commonname'">
            {{sample.ethnoinfo.commonname}}
        </td>
        <td data-title="'WHO'" filter="{ 'usecategory.who': 'text' }" sortable="'usecategory.who'">
            {{sample.usecategory.who}}
        </td>
        <td data-title="'Tradidional use'" filter="{ 'ethnocategory.traditional': 'text' }" sortable="'ethnocategory.traditional'">
            {{sample.ethnocategory.traditional}}
        </td>
        <td data-title="'Part used'" filter="{ 'partused': 'text' }" sortable="'partused'">
            {{sample.partused}}
        </td>
        <td data-title="'Form of use'" filter="{ 'formofuse': 'text' }" sortable="'formofuse'">
            {{sample.formofuse}}
        </td>                                                       
    </tr>
    </tbody>
  </table>

</div>
-->