<div flex layout="row" ng-controller="SampleCtrl" ng-cloak>
    <div class="md-padding" flex layout="row">

        <div class="md-whiteframe-4dp" layout-padding layout="column" flex="25">
            
            <div>
                <md-toolbar ng-show="!showSearch">
                    <div class="md-toolbar-tools" layout="row">
                        <legend layout-align="left" class="md-title" flex="60">Results</legend>
                        <div layout="row" layout-align="right" flex>
                            <md-button ng-click="showFilter($event)" flex aria-label="Filter samples">
                                <ng-md-icon icon="filter_list"></ng-md-icon>
                            </md-button>
                            <md-button ng-click="clearFilter($event)" flex aria-label="Clear Filter">
                                <ng-md-icon icon="backspace"></ng-md-icon>
                            </md-button>
                        </div>
                        <!--
                        <h3></h3>
                        <span flex></span>
                        <md-button aria-label="Search" ng-click="showSearch = !showSearch">
                            <ng-md-icon icon="search"></ng-md-icon>
                        </md-button>
                        <md-button aria-label="Open Settings" ng-click="showListBottomSheet($event)">
                            <ng-md-icon icon="more_vert"></ng-md-icon>
                        </md-button>
 -->
                    </div>
                </md-toolbar>
                <div flex>
                <table flex ng-table="tableParams" template-pagination="custom/pager" style="table-layout:fixed;width:100%" class="table table-condensed">
                    
                    <tr ng-repeat="specie in $data" class="md-body-1 md-link" style="line-height: 10px">
                        <td layout-wrap >
                            <a href="#" class="md-button" ng-click="showSample(specie.species);" style="text-transform: none;display: inline-block; text-overflow:ellipsis; overflow:hidden;width:100%">
                                <span class="ng-binding ng-scope" style="text-transform: none;">
                                 <i>{{specie._id.genus}} {{specie._id.specie}}</i> {{specie._id.author}} ({{specie.count}})
                            </span>
                                <span class="md-visually-hidden ng-scope" ng-if="isSelected()">
                                current page
                            </span>
                            </a>
                        </td>
                    </tr>
                    
                </table>
                </div>
            </div>
            <!-- <md-list>
                <md-list-item class="md-2-line" ng-repeat="sample in filteredSamples">
                    <div class="md-list-item-text">
                        <a href="javascript:void(0);" ng-click="showSample(sample);">{{sample.specieinfo.genus}} <i>{{sample.specieinfo.specie}}</i> {{sample.specieinfo.authority}}</a>
                    </div>
                </md-list-item>
            </md-list>
            <md-card-toolbar>
                <uib-pagination ng-model="currentPage" total-items="filteredSamples.lenght" max-size="max-size" boudary-links="true"></uib-pagination>
            </md-card-toolbar>
            -->
        </div>
        <script type="text/ng-template" id="custom/pager">
            <div class="bottom">
                <div ng-if="params.settings().counts.length" id="allocateCargoTable_length" class="dataTables_length">
                    <label>Show

                        <select ng-param-directive ng-model="pageCount" ng-options="count for count in params.settings().counts" ng-change="pageCounter(pageCount)">
                        </select>
                        Rows
                    </label>
                </div>
                <div class="dataTables_paginate paging_bs_normal">
                    <div layout="row" layout-align="space-around center">
                        <div ng-repeat="page in pages" ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                        ng-show="page.type == 'prev' || page.type == 'next'" flex ng-switch="page.type">


                            <span style="float:left" ng-switch-when="prev"><md-button  flex ng-click="params.page(page.number)" href=""><ng-md-icon icon="arrow_back"></ng-md-icon></md-button></span>

                            <span style="float:right" ng-switch-when="next"><md-button flex ng-click="params.page(page.number)" href=""><ng-md-icon icon="arrow_forward"></ng-md-icon></md-button></span>

                        </div>
                    </div>
                </div>
        </script>
        <!-- <div class="md-whiteframe-4dp" class-sm="" flex="75" layout-padding layout="column">
                <legend>Results</legend>
                
                <a ng-switch-when="first" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a> 
                        <a ng-switch-when="page" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a> 
                        <a ng-switch-when="more" ng-click="params.page(page.number)" href="">&#8230;</a> 
                        <a ng-switch-when="last" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
                <p>aaa...</p>
                <p>aaa...</p>
                <p>aaa...</p>
                <p>aaa...</p>
                <p>aaa...</p>
                <p>aaa...</p>
                <p>aaa...</p>
            </div>
        -->
        <div class="md-whiteframe-4dp" class-sm="" flex="75" layout-padding layout="column">
            <legend class="md-title">Sample</legend>
            <div ng-repeat="sample in selectedSamples">
                <div class="md-whiteframe-4dp" layout-padding>
                    <div layout="row" flex>
                        <div flex="35">
                            <label>Specie:</label>
                        </div>
                        <div flex="65"><i>{{sample.specieinfo.genus}}
                            {{sample.specieinfo.specie}}</i> {{sample.specieinfo.authority}}</div>
                    </div>
                    <div layout="row" flex>
                        <div flex="35">
                            <label>Popular name:</label>
                        </div>
                        <div flex="65">{{sample.ethnoinfo.commonname}}</div>
                    </div>
                    <div layout="row" flex>
                        <div flex="35">
                            <label>Biomes:</label>
                        </div>
                        <div flex="65">{{sample.passport.biome}}</div>
                    </div>
                    <div layout="row" flex>
                        <div flex="35">
                            <label>Uses</label>
                        </div>
                    </div>
                    <div layout="row" flex>
                        <div flex="35">
                            <label>ICD-10 categories:</label>
                        </div>
                        <div flex="65">{{sample.usecategory.who}}</div>
                    </div>
                    <div layout="row" flex>
                        <div flex="35">
                            <label>Traditional uses:</label>
                        </div>
                        <div flex="65">{{sample.usecategory.traditional}}</div>
                    </div>
                    <div layout="row" flex>
                        <div flex="35">
                            <label>Plant parts used:</label>
                        </div>
                        <div flex="65">{{sample.partused}}</div>
                    </div>
                    <div layout="row" flex>
                        <div flex="35">
                            <label>Modes of application:</label>
                        </div>
                        <div flex="65">{{sample.formofuse}}</div>
                    </div>
                    <div layout="row" flex>
                        <div flex="35">
                            <label>References:</label>
                        </div>
                        <div flex="65">{{sample.reference.paper}} {{sample.reference.collector}} {{sample.reference.origin}}</div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

    <!-- <div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <p>Samples</p>
  <section>
    <button ng-click="open()" class="btn btn-primary pull-right"><i class="icon-white icon-plus"></i> Add new Sample</button>
  </section>  
  <table ng-table="tableParams" show-filter="true" class="table">
<!--    <thead>
    <tr> <td column-span=4/> <td column-span=3 title="Reference"/> </tr>
    </thead>
    <tbody>    
    <tr ng-repeat="sample in $data">
        <td data-title="'Family'" filter="{ 'specieinfo.family': 'text' }" sortable="'specieinfo.family'">
            {{sample.specieinfo.family}}
        </td>
        <td data-title="'Genus'" filter="{ 'specieinfo.genus': 'text' }" sortable="'specieinfo.genus'">
            <i>{{sample.specieinfo.genus}}</i>
        </td>
        <td data-title="'Specie'" filter="{ 'specieinfo.specie': 'text' }" sortable="'specieinfo.specie'">
            <i>{{sample.specieinfo.specie}}</i> {{sample.specieinfo.authority}}
        </td>
        <td data-title="'Synonym'" filter="{ 'specieinfo.synonim': 'text' }" sortable="'specieinfo.synonim'">
            {{sample.specieinfo.synonim}}
        </td>
        
            <td data-title="'Paper'" filter="{'reference.paper':'text'}" sortable="'reference.paper'">
                {{sample.reference.paper}}
            </td>
            <td data-title="'Collector'" filter="{'reference.collector':'text'}" sortable="'reference.collector'">
                {{sample.reference.collector}}
            </td>
            <td data-title="'Origin'" filter="{'reference.origin':'text'}" sortable="'reference.origin'">
                {{sample.reference.origin}}
            </td>
        
        <td data-title="'Common  Name'" filter="{ 'ethnoinfo.commonname': 'text' }" sortable="'ethnoinfo.commonname'">
            {{sample.ethnoinfo.commonname}}
        </td>
        <td data-title="'WHO'" filter="{ 'usecategory.who': 'text' }" sortable="'usecategory.who'">
            {{sample.usecategory.who}}
        </td>
        <td data-title="'Tradidional use'" filter="{ 'ethnocategory.traditional': 'text' }" sortable="'ethnocategory.traditional'">
            {{sample.ethnocategory.traditional}}
        </td>
        <td data-title="'Part used'" filter="{ 'partused': 'text' }" sortable="'partused'">
            {{sample.partused}}
        </td>
        <td data-title="'Form of use'" filter="{ 'formofuse': 'text' }" sortable="'formofuse'">
            {{sample.formofuse}}
        </td>                                                       
    </tr>
    </tbody>
  </table>

</div>
-->